### GEMINI
MODEL_GEMINI_2_5_FLASH =
GEMINI_API_KEY=

### VERTEX
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
REASONING_ENGINE_APP_NAME=
REASONING_ENGINE_ID = 

VERTEX_RAG_LOCATION=
VERTEX_RAG_CORPUS = 





#개인 json파일 경로 
GOOGLE_APPLICATION_CREDENTIALS=




FILESYSTEM_ALLOWED_DIR = 

